body {
    position: relative;
    width: 100%;
    background: #FFFFFF;
}

.flex-head {
    position: relative;
    width: 100%;
    top: 20px;
    background: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}
.nav-text{
position: relative;
left: 15%;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
color: #2F281E;
height: 40px;
width: 300px;
}

.btn-signin {
    position: relative;
    height: 40px;
    width: 93px;
    left: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    border-radius: 4px;
    background-color: #FFFFFF;
    transform: translateX(240px);
    border-width: thin;
}

.btn-signup {
    position: relative;
    height: 40px;
    width: 93px;
    left: 35px;
    border-radius: nullpx;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
    transform: translateX(250px);
    border-color: transparent;

}

.headone {
    width: 80%;
    height: 496px;
    left: 145px;
}

.leftside {
    position: absolute;
    width: 320px;
    height: 331px;
    left: 45px;
    top: 200px;
}

.btn-getstarted {
    position: relative;
    height: 40px;
    width: 93px;
    left: 5px;
    top: 15px;
    border-radius: nullpx;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
    border-color: transparent;
    top: 50px;

}

.btn-watchvideo {
    position: relative;
    width: 161px;
    height: 40px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background-color: #FFFFFF;
    text-decoration-line: underline;
    color: #FF9900;
    top: 50px;
}

.design-img {
    position: relative;
    width: 450px;
    height: 300px;
    transform: translateX(350px);
    top: 100px;
    left: 50px;
}

.feature-box {
    position: relative;
    width: 950px;
    left: 50px;
    align-items: center;
    top: 20px;
    height: 500px;
}

.para-text {
    width: 100%;
    text-align: center;
}

.card-flexbox {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    top: 162px;

}

.card-item {
    position: relative;
    width: 170px;
    justify-items: left;
}


.btn-signupnow {
    position: static;
    height: 40px;
    width: 130px;
    left: 41px;
    top: 15px;
    border-radius: nullpx;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
    border-color: transparent;
    align-self: center;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 800px;
}

.flex-box-text {
 width: 400px;
}

.flex-box-image {
    position: relative;
    width: 400px;

}

.image {
    position: relative;
    width: 80%;
}

.text {

    left: 10px;

}

.main-footer {
    position: relative;
    width: 60%;
    top: 70px;
    left: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.footer-btn {
    position: relative;
    height: 40px;
    width: 130px;
    left: 10px;
    top: 20px;
    border-radius: nullpx;
    font-family: 'Poppins';
    font-style:normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
    border-color: transparent;
}