body {
    position: relative;
    width: 100%;


    background: #FFFFFF;
}

.flex-head {
    position: relative;


    background: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;

}

.nav {
    position: absolute;

    height: 78px;
    left: 0px;
    top: 20px;

}

.flex-navitem {
    position: relative;
    height: 28px;
    left: 46.43%;
    right: 28.57%;
    top: calc(50% - 28px/2 - 1px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #2F281E;
    display: inline-flex;
    flex-wrap: initial;
    align-items: flex-start;
    flex-direction: row;
    color: #2F281E;
    transform: translateX(10px);
}

.btn-signin {

    position: relative;
    height: 24px;
    width: 93px;
    left: 41px;
    top: 15px;
    border-radius: nullpx;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    border-radius: 4px;
    color: #173A56;
    transform: translateX(240px)
}

.btn-signup {
    position: relative;
    height: 24px;
    width: 93px;
    left: 41px;
    top: 15px;
    border-radius: nullpx;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
    transform: translateX(250px);

}

.headone {
    height: 496px;
    left: 145px;
}

.leftside {
    position: absolute;
    width: 300px;
    height: 331px;
    left: 45px;
    top: 128px;
}

.btn-getstarted {
    position: static;
    height: 24px;
    width: 93px;
    left: 41px;
    top: 15px;
    border-radius: nullpx;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;

}

.btn-watchvideo {

    width: 161px;
    height: 23px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FF9900;
}

.design-img {
    position: relative;
    width: 400px;
    height: 250px;
    transform: translateX(350px);
    top: 100px;
}

.feature-box {
    position: relative;
    width: 950px;
    left: 50px;
    align-items: center;
    top: 10px;
    ;
}

.para-text {
    width: 100%;
    text-align: center;
}

.card-flexbox {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    top: 162px;

}

.card-item {
    position: relative;
    width: 170px;
    justify-items: left;
}


.btn-signupnow {
    position: static;
    height: 24px;
    width: 93px;
    left: 41px;
    top: 15px;
    border-radius: nullpx;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 800px;
}

.flex-box-text {

    width: 400px;

}

.flex-box-image {
    position: relative;
    width: 400px;

}

.image {
    position: relative;
    width: 80%;
}

.text {

    left: 10px;

}

.main-footer {
    position: relative;
    width: 60%;
    top: 70px;
    left: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.footer-btn {
    position: relative;
    height: 24px;
    width: 93px;
    left: 10px;
    top: 20px;
    border-radius: nullpx;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
}