body {
    position: relative;
    width: 1400px;
    height: 3843px;

    background: #FFFFFF;
}

.flex-head {
    position: relative;
    width: 1400px;
    
    background: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;

}

.nav {
    position: absolute;
    width: 1400px;
    height: 78px;
    left: 0px;
    top: 20px;

}

.flex-navitem {
    position: relative;
    height: 28px;
    left: 46.43%;
    right: 28.57%;
    top: calc(50% - 28px/2 - 1px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */


    color: #2F281E;
    display: inline-flex;
    flex-wrap: initial;
    align-items: flex-start;
    flex-direction: row;
    /* identical to box height, or 200% */
    color: #2F281E;
    transform: translateX(10px);
}

.btn-signin {

    position: relative;
    height: 24px;

    width: 93px;
    left: 41px;
    top: 15px;
    border-radius: nullpx;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height */

    border-radius: 4px;

    color: #173A56;
    transform: translateX(240px)
}

.btn-signup {
    position: relative;
    height: 24px;

    width: 93px;
    left: 41px;
    top: 15px;
    border-radius: nullpx;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height */

    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
    transform: translateX(250px);

}

.headone {
   
    width: 1126px;
    height: 496px;
    left: 145px;

    
}

.leftside {
   position:absolute;
    width: 300px;
    height: 331px;
    left: 45px;
    top: 128px;
}

.btn-getstarted {
    position: static;
    height: 24px;

    width: 93px;
    left: 41px;
    top: 15px;
    border-radius: nullpx;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height */


    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;

}
.btn-watchvideo {
   
    width: 161px;
    height: 23px;
   border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #FF9900;
}

.design-img {
    position: relative;
    width: 400px;
    height: 250px;
    transform: translateX(350px);
    top: 100px;
}

.feature {
    position: absolute;
width: 2211px;
height: 543px;
left: -406px;
top: 734px;

}

.card {
position: relative;
width: 2211px;
height: 543px;
left: -406px;
top: 162px;

}

.icon1 {
    position: static;
    left: 25.64%;
    right: 72.05%;
    top: 29.83%;
    bottom: 60.96%;
}

.icon2 {
    position: static;
    left: 38.58%;
    right: 59.16%;
    top: 29.83%;
    bottom: 60.96%;
}

.icon3 {
    position: relative;
    left: 51.47%;
    right: 46.27%;
    top: 29.83%;
    bottom: 60.96%;

}

.icon4 {
    position: relative;
    left: 64.31%;
    right: 33.42%;
    top: 29.83%;
    bottom: 60.96%;

}

.btn-signupnow {
    position: static;
    height: 24px;

    width: 93px;
    left: 41px;
    top: 15px;
    border-radius: nullpx;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height */


    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
}

.effort {
    position: relative;
    width: 1110px;
    height: 574px;
    left: 145px;
    
}

.designprf {
    position: relative;
    width: 1110px;
    height: 574px;
    left: 145px;
    top: 1397px;
}

.text {
    position: absolute;
    width: 486px;
    height: 531px;
    left: 145px;
    top: 1423px;
}

.main-footer{
    display: flex;
    transform: translatepx(100px,100);
}